  <body>
    {{ partial "navbar.html" . }}
    <div id="carousel-example-generic" class="carousel slide hidden-xs hidden-sm" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        {{ if .Params.pgbanner }}<div class="item">
          <img src="{{.Params.pgbanner}}" alt="Site Banner Image">
          <div class="carousel-caption">
            <h1 id="header">{{.Params.pgbanner_title}}</h1>
            <h3 id="header">{{.Params.pgbanner_slogan}}</h3>
          </div>
        </div>
        {{else}}<div class="item active">
          <img src="{{.Site.Params.banner}}" alt="Site Banner Image">
          <div class="carousel-caption">
            <h1 id="header">{{.Site.Params.site_name}}</h1>
            <h3 id="header">{{.Site.Params.slogan}}</h3>
          </div>
        </div>{{ end }}
      </div>
    </div>
    <div class = "container hidden-md hidden-lg">
      <h2>{{.Site.Params.site_name}}</h2>
      <h4>{{.Site.Params.slogan}}</h4>
    </div>
    <br/>
