<div class="thumbnail">
  <img src="{{ .Site.Params.author.image }}" alt="" class="img-rounded">
  <div class="caption text-center">
    <h2>{{ .Site.Params.author.name }}</h2>
    <h5>{{ .Site.Params.author.description }}</h5>
    <h3>
      {{ with .Site.Params.social.facebook }}<a href="https://www.facebook.com/{{ . }}" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;{{ end }}
      {{ with .Site.Params.social.twitter }}<a href="https://www.twitter.com/{{ . }}" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>&nbsp;{{ end }}
      {{ with .Site.Params.social.instagram}}<a href="https://www.instagram.com/{{.}}" data-toggle="tooltip" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>&nbsp;{{ end }}
      {{ with .Site.Params.social.googleplus}}<a href="https://plus.google.com/u/0/+{{.}}" data-toggle="tooltip" title="Google Plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>&nbsp;{{ end }}
      {{ with .Site.Params.social.pinterest}}<a href="https://www.pinterest.com/{{.}}" data-toggle="tooltip" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>&nbsp;{{ end }}
      {{ with .Site.Params.social.github }}<a href="https://www.github.com/{{ . }}" data-toggle="tooltip" title="Github"><i class="fa fa-github"></i></a>&nbsp; {{ end }}
      {{ with .Site.Params.social.gitlab }}<a href="https://www.gitlab.com/{{ . }}" data-toggle="tooltip" title="Gitlab"><i class="fa fa-gitlab"></i></a>&nbsp; {{ end }}
      {{ with .Site.Params.social.bitbucket }}<a href="https://www.bitbucket.com/{{ . }}" data-toggle="tooltip" title="Bitbucket"><i class="fa fa-bitbucket"></i></a>&nbsp; {{ end }}
      {{ with .Site.Params.social.linkedin }}<a href="https://www.linkedin.com/in/{{.}}" data-toggle="tooltip" title="LinkedIn"><i class="fa fa-linkedin"></i></a>&nbsp; {{ end }}
      {{ with .Site.Params.social.stackoverflow }}<a href="http://stackexchange.com/users/{{.}}" data-toggle="tooltip" title="StackOverflow"><i class="fa fa-stack-overflow"></i></a>&nbsp;{{ end }}
      {{ with .Site.Params.social.quora }}<a href="https://www.quora.com/profile/{{.}}" data-toggle="tooltip" title="Quora"><i class="fa fa-quora"></i></a>&nbsp;{{ end }}
      {{ with .Site.Params.social.fitbit }}<a href="https://www.fitbit.com/user/{{.}}" data-toggle="tooltip" title="Fitbit"><i class="fa fa-th"></i></a>&nbsp;{{ end }}
      <a href="/index.xml" data-toggle="tooltip" title="RSS/XML"><i class="fa fa-rss"></i></a>
    </h3>
  </div>
</div>

<div class="sitelists">
  <div class="panel list-group">
    <a href="#" class="list-group-item" data-toggle="collapse" data-target="#taglist" data-parent="#sitelists">Tags</a>
    <div id="taglist" class="sublinks collapse">
      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}<li class="list-group-item"><a href="/tags/{{ $name | urlize }}/">{{ $name | humanize }}</a></li>
      {{ end }}
    </div>
    <a href="#" class="list-group-item" data-toggle="collapse" data-target="#catlist" data-parent="#sitelists">Categories</a>
    <div id="catlist" class="sublinks collapse">
      {{ range $name, $taxonomy := .Site.Taxonomies.categories }}<li class="list-group-item"><a href="/categories/{{ $name | urlize }}/">{{ $name | humanize }}</a></li>
      {{ end }}
    </div>
  </div>
</div>
</div>
