{{- define "javascript" -}}<script src="https://cdn.bootcss.com/aplayer/1.5.8/APlayer.min.js"></script>
<script> var player = new APlayer({ element: document.getElementById('player'), narrow: false, autoplay: false,
    showlrc: false, mutex: true, theme: '#ad7a86', mode: 'random',
    music: [ {{ $cdn := .Site.Params.musiccdn }}{{ $group := .Params.music}}{{$coverart := .Params.coverart}}
    {{ range .Params.playlist}}{{range .songs }}
        { title: '{{.title}}', author: '{{ $group }}', url: '{{  $cdn }}{{ .url }}', pic: '{{ $coverart}}'  },
    {{end}}{{end}}
    ]}); </script>
{{end}}
{{ partial "header.html" . }}
{{ partial "body.html" . }}
<div class = "container" role="main">
<section id="main">
  <h1 id="title">{{ .Title }}</h1>
  <div>
        <article id="content">
           {{ .Content }}
        </article>
        <hr/>
        <div id="player" class="aplayer"></div>
  </div>
</section>
</div>
{{ partial "gallery.html" . }}
{{ partial "footer.html" . }}
