{{ partial "header.html" . }}
{{ partial "body.html" . }}
<div class = "container" role="main">
<section id="main">
  <h1 id="title">{{ .Title }}</h1>
  <div class="alert alert-danger" role="alert">
     <h4>Alert - Archived Data</h4>
     <p>Please note that the old Network Blog content (from http://www.networkblog.net) is included for historic purposes only.  Much of this data is either no longer relevant
      or may be missing from the original source.  Most of this data was back from my MVP age and is over ten years old.  Thus, many of the links
      are no longer valid as Microsoft has changed the links on many of their Technet sites.</p>
  </div>
  <div>
        <article id="content">
           {{ .Content }}
        </article>
  </div>
</section>
</div>
{{ partial "gallery.html" . }}
{{ partial "footer.html" . }}
