{{ partial "header.html" . }}
{{ partial "body.html" . }}
<div class = "container">
  <div class = "col-md-9">
    {{ range .Paginator.Pages }}
      {{ .Render "summary"}}
      <hr/>
    {{ end }}
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <nav aria-label="pagination">
      <ul class="pager">
        {{ if and (.Paginator.HasPrev) (.Paginator.HasNext) }}
        <li class="previous"><a href="{{ .Paginator.Prev.URL }}">&larr; Older</a></li>
        <li class="next"><a href="{{ .Paginator.Next.URL }}">Newer &rarr;</a></li>{{ end }}
        {{ if and (.Paginator.HasPrev) (not .Paginator.HasNext) }}<li class="previous"><a href="{{ .Paginator.Prev.URL }}">&larr; Older</a></li>
        <li class="next disabled"><a href="">Newer &rarr;</a></li>{{ end }}
        {{ if and (not .Paginator.HasPrev) (.Paginator.HasNext) }}<li class="previous disabled"><a href="">&larr; Older</a></li>
        <li class="next"><a href="{{ .Paginator.Next.URL }}">Newer &rarr;</a></li>{{ end }}
      </ul>
    </nav>
    {{ end }}
  </div>
  <div class = "col-md-3">
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ partial "footer.html" . }}
