{{ partial "header.html" . }}
{{ partial "body.html" . }}
<div class = "container" role="main">{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}
  <h1 id="title">{{ .Title }}</h1>
  {{if .Params.category_desc }}<div class="alert alert-info" role="alert">
      {{ .Params.category_desc | markdownify }}
  </div>{{end}}
  <ul class="list-group">
    <li class="list-group-item list-group-item-success">List of Archive Pages by Date in "{{.Title}}"</li>
  {{ range .Data.Pages }}
    <li class="list-group-item"><span class="badge"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format $dateFormat }}</time></span><a href="{{.Permalink}}">{{.Title | markdownify}}</a></li>
  {{ end }}
  </ul>
</div>
{{ partial "footer.html" . }}
